table {
    background-color: blue;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    clear: both;
    border-radius: 50%;
    background-color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #263238;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #0d47a1
}

