table {
    background-color: blue;
}

.box {
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    clear: both;
    border-radius: 50%;
    background-color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}